[Unit]
Description=gha self-hosted runner
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nutanix
ExecStart=%h/actions-runner/run.sh
Delegate=yes

[Install]
WantedBy=multi-user.target
